<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.blog.entity.SysUser">
        <result column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="motto" property="motto" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="address" property="address" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="role_type" property="roleType" />
        <result column="views" property="views" />
        <result column="salt" property="salt" />
    </resultMap>

</mapper>
